@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Original+Surfer&display=swap');

html {
    background: url('../images/pexels-aistė-sveikataitė-1535421.jpg') no-repeat;
    background-size: auto;
    text-align: center;
}

h1 {
    font-family: 'Original Surfer', cursive;
    font-size: 5vw;
    font-weight: 700px;
    font-family: 'Original Surfer', cursive;
    margin: 0 auto;
}

p {
    font-size: 3vw;
    font-weight: 400px;
    margin: 2vh auto;
}

iframe {
    max-width: 90vw;
}
