@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Original+Surfer&display=swap');

html {
    background: url('../images/pexels-aistė-sveikataitė-1535421.jpg') no-repeat;
    background-size: auto;
    text-align: center;
}

h1 {
    font-family: 'Original Surfer', cursive;
    font-size: 7vw;
    font-weight: 700px;
    font-family: 'Original Surfer', cursive;
}

p {
    font-size: 4vw;
    font-weight: 400px;
    letter-spacing: 2px;
    line-height: 6vw;
}

iframe {
    max-width: 90vw;
}
